:root {
    --background-color: #262626;
    --header-bkgrnd-color: #003366;
    --projects-bkgrnd-color: #ecf2f9;
    --orange-text: #ff6600;
    --blue-text: #0080ff;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--background-color);
}

nav {
    background-color: var(--header-bkgrnd-color);
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    padding: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    
}

nav a:hover {
    background-color: var(--background-color);
    color: var(--blue-text);
    border: 2px solid var(--orange-text);
}

nav a:active {
    color: var(--orange-text);
    border: 2px solid var(--blue-text);
}

h1 {
    font-family: "Orbitron", sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 10px;
}

h2 {
    padding-bottom: 30px;
}

footer {
    display: block;
    padding: 20px;
    background: linear-gradient(to bottom, var(--header-bkgrnd-color) 0%, var(--background-color) 50%);
}

footer h3 {
    color: var(--orange-text);
    text-align: center;
}

.projects-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.projects-grid a {
    background-color: var(--header-bkgrnd-color);
    color: #fff;
    border-radius: 5px;
    box-shadow: 2px 4px 7px var(--background-color);
    text-decoration: none;
    margin: 10px 10px;
}

.projects-grid a img {
    min-width: 100px;
    max-height: 200px;
    width: auto;
}

.material-icons {
    font-size: 15px;
    color: #fff;
    display: none;
}

.projects-grid a:hover .material-icons {
    color: var(--orange-text);
    display: inline-block;
}

.profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.profile a {
    padding: 10px;
    text-decoration: none;
    color: #fff;
    transition: border-color 0.2s ease-in-out;
}

.profile a:hover {
    border: 2px solid;
    border-color: var(--orange-text);
    border-radius: 3px;
    color: var(--blue-text);
}

.profile a:active {
    color: var(--orange-text);
    border: 2px solid var(--blue-text);
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top right, #404040 0%, var(--background-color) 100%);
    text-align: center;
    margin: 0;
    height: 100vh;
    color: var(--blue-text);
}

#work {
    background-color: var(--projects-bkgrnd-color);
    padding: 30px 50px;
    text-align: center;
    color: bl#000;
}

#img1 > img {
    /* flex: 2 0 0; */
}