:root {
    --background-color: #262626;
    --header-bkgrnd-color: #003366;
    --projects-bkgrnd-color: #ecf2f9;
    --orange-text: #ff6600;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--background-color);
}

nav {
    background-color: var(--header-bkgrnd-color);
    background-color: #003366;
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    padding: 20px;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    
}

h1 {
    font-family: "Orbitron", sans-serif;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 10px;
}

.projects-grid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 20px;
    width: 100%;
    margin: 0;
}

.projects-grid a {
    background-color: var(--header-bkgrnd-color);
    color: #fff;
    border-radius: 5px;
    box-shadow: 2px 4px 7px var(--background-color);
    text-decoration: none;
}

.material-icons {
    font-size: 15px;
    color: #fff;
    display: none;
}

.projects-grid a:hover .material-icons {
    color: var(--orange-text);
    display: inline-block;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top right, #404040 0%, var(--background-color) 100%);
    text-align: center;
    margin: 0;
    height: 100vh;
    color: #0080ff;
}

#work {
    background-color: var(--projects-bkgrnd-color);
    padding: 30px 50px;
    text-align: center;
    color: bl#000;
}