:root {
    --background-color: #262626;
    --header-bkgrnd-color: #003366;
}

* {
    height: 100%;
    margin: 0;
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--background-color);
}

header {
    background-color: var(--header-bkgrnd-color);
    margin: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

nav {
    display: flex;
    justify-content: flex-end;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
}